# Odoo dependencies
Babel>=2.6.0
decorator
docutils
ebaysdk
feedparser
gevent
greenlet
html2text
Jinja2
libsass
lxml
lxml_html_clean
Mako
MarkupSafe
num2words
ofxparse
passlib
Pillow
polib
psutil
psycopg2-binary
pydot
pyldap
pyparsing
pypdf2
python-dateutil
python-stdnum
pytz
pyusb
qrcode
reportlab
requests
urllib3
vobject
Werkzeug
xlrd
XlsxWriter
xlwt
ldap3

# Add your custom module requirements below

